__pycache__/
*.pyc

.venv/
venv/
env/

.env

# Videos
*.mp4
*.avi
*.mov
*.mkv

# Large ML model files
*.pt
*.pth
*.onnx

# Training/inference output
runs/
infer_out/
logs/

# Large datasets
datasets/
dataset/
data/